.parallax__container {
  width: 100%;
  height: 400px;
  background-image: url("../../../public/images/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1023px) {
  .parallax__container {
    height: 300px;
  }
}
