.welcome__container {
  width: 100%;
  background-color: #030303;
  display: flex;
  justify-content: center;
  height: 810px;
}

.welcome {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.welcome__section {
  min-width: 600px;
  z-index: 10;
}

.welcome__title {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Forum Regular';
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: 100;
  padding-top: 85px;
  margin-bottom: 0;
  cursor: default;
}

.welcome__subtitle {
  color: #fff;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: 'Roboto Thin';
  margin: 0;
  padding-top: 25px;
  cursor: default;
}

.welcome__button {
  width: 360px;
  height: 75px;
  background-color: #710707;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Roboto Thin';
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 75px;
}

.welcome__button:hover {
  background-color: #9d8665;
}

.slider__wrapper {
  width: 1000px;
  overflow: hidden;
  margin-left: -160px;
}

.welcome__slider {
  display: flex;
  width: 5000px;
}

.slider__el {
  width: 1000px;
  height: 750px;
}

.slider__overlay {
  position: absolute;
  width: 500px;
  height: 750px;
  pointer-events: none;
  background: linear-gradient(to right, #030303, transparent);
}

.slider__controls {
  color: #fff;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-top: -60px;
  height: 120px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 5;
  background-color: #030303;
  font-size: 22px;
  column-gap: 40px;
}

.slider__counter {
  display: flex;
  column-gap: 15px;
  align-items: center;
  height: 20px;
  cursor: default;
}

.slider__dots {
  display: flex;
  height: 20px;
  column-gap: 25px;
  font-size: 30px;
  align-items: center;
  cursor: pointer;
  margin-top: -5px;
}

.slider__arrows {
  cursor: pointer;
  display: flex;
  column-gap: 15px;
  font-size: 30px;
}

.slider__dot:hover {
  color: #9d8665;
}

.slider__arrow {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 28px;
}

.slider__arrow:hover {
  color: #9d8665;
}

@media (max-width: 1460px) {
  .welcome__container {
    height: 585px;
  }

  .welcome {
    display: grid;
    grid-template-columns: 400px 700px;
    padding: 0 20px;
    justify-content: center;
    box-sizing: border-box;
  }

  .welcome__section {
    min-width: 400px;
    margin-left: 60px;
  }

  .welcome__title {
    font-size: 50px;
    padding-top: 0;
    line-height: 100px;
  }

  .welcome__subtitle {
    font-size: 24px;
  }

  .welcome__button {
    width: 300px;
    height: 60px;
  }

  .welcome__subtitle {
    padding-top: 10px;
  }

  .welcome__button {
    margin-top: 50px;
    font-size: 20px;
  }

  .slider__el {
    width: 700px;
    height: 525px;
    background-size: cover;
  }

  .welcome__slider {
    width: 3500px;
  }

  .slider__wrapper {
    margin-left: -60px;
    width: 700px;
  }

  .slider__overlay {
    height: 525px;
  }

  .slider__controls {
    width: auto;
    margin-top: -65px;
    padding-left: 555px;
    max-width: none;
  }
}

@media (max-width: 1023px) {
  .welcome__container {
    height: 861px;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  .welcome__section {
    margin: 0;
  }

  .welcome__title {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    margin-top: 0;
  }

  .welcome__subtitle {
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
  }

  .welcome__button {
    display: none;
  }

  .slider__overlay {
    display: none;
  }

  .slider__el {
    width: 728px;
    height: 546px;
  }

  .slider__wrapper {
    margin: 0;
    width: 728px;
    height: 546px;
    padding-top: 45px;
    transition: 0s;
  }

  .slider__controls {
    padding-left: 40px;
    width: 100%;
    margin: 0;
    height: 100px;
  }

  .welcome__slider {
    width: fit-content;
  }

  .header__burger-menu {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 767px) {
  .welcome__container {
    min-height: 544px;
  }

  .welcome__title {
    font-size: 28px;
  }

  .welcome__subtitle {
    font-size: 16px;
  }

  .slider__wrapper {
    width: 100%;
  }

  .welcome__slider {
    height: 100%;
    width: calc(100% * 5);
  }

  .slider__el {
    height: 100%;
    width: 25%;
    background-position: center;
  }

  .slider__controls {
    padding: 20px;
    font-size: 18px;
  }

  .slider__dot {
    font-size: 20px;
  }

  .slider__arrow {
    font-size: 22px;
  }

  .slider__dots {
    column-gap: 15px;
  }

  .slider__counter {
    column-gap: 10px;
  }
}

@media (max-width: 479px) {

  .welcome__section {
    min-width: auto;
  }

  .welcome__container {
    min-height: auto;
    height: auto;
  }

  .slider__controls {
    flex-direction: column;
    row-gap: 20px;
  }

  .slider__arrows {
    margin-top: -42.5px;
    column-gap: 150px;
  }
  .slider__wrapper {
    height: 400px;
  }
}

@media (max-width: 400px) {
  
  .slider__wrapper {
    height: 250px;
  }

}