.buy-ticket__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buy-ticket__header {
  max-width: 1024px;
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 300px 50%;
  border-bottom: 3px #710707 solid;
  justify-content: space-between;
}

.buy-ticket__header-btn {
  border: none;
  background-color: transparent;
  color: #9d8665;
  font-size: 34px;
  transition: 0.3s;
  cursor: pointer;
  padding: 0;
  text-align: start;
  width: 120px;
  height: 40px;
  margin-top: 10px;
}

.buy-ticket__header-btn:hover {
  color: #710707;
}

.buy-ticket__logo-title {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Forum Regular";
  color: #9d8665;
  font-weight: 100;
  margin: 0;
  text-decoration: none;
}

.buy-ticket__logo-subtitle {
  font-size: 18px;
  font-family: "Roboto Regular";
  color: #710707;
  margin: 0;
  padding-bottom: 10px;
  margin-top: -20px;
  cursor: default;
}

.buy-ticket__logo {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  cursor: default;
}

@media (max-width: 1064px) {
  .buy-ticket__wrapper {
    padding: 20px;
  }
}
