.video__container {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.video__section {
  max-width: 1440px;
  width: 100%;
}

.video__title-section {
  display: flex;
  width: 100%;
}

.video__title {
  font-size: 80px;
  font-family: "Forum Regular";
  font-weight: 100;
  color: #9d8665;
  text-transform: uppercase;
  width: 50%;
  margin-top: 80px;
  margin-bottom: 75px;
  cursor: default;
}

.video__subtitle {
  width: 50%;
  font-size: 22px;
  font-family: "Roboto Light";
  margin-top: 85px;
  line-height: 38.5px;
  cursor: default;
}

.video-slider {
  padding-bottom: 140px;
  cursor: pointer;
}

.control-dots {
  bottom: -30px !important;
  background-color: #000000;
  padding: 10px 0 !important;
}

.carousel-slider {
  overflow: visible !important;
  display: flex;
  justify-content: center;
}

.video-btn-left,
.video-btn-right {
  background: none;
  border: none;
  position: absolute;
  z-index: 100;
  color: #c0c0c0;
  font-size: 26px;
  bottom: -17px;
  cursor: pointer;
  transition: 0.3s;
}

.video-btn-left {
  margin-right: 150px;
}

.video-btn-right {
  margin-left: 150px;
}

.video-btn-left:hover,
.video-btn-right:hover {
  color: #ffffff;
}

@media (max-width: 1460px) {
  .video__section {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .video__title {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 60px;
  }

  .video__subtitle {
    display: none;
  }
}

@media (max-width: 1023px) {
  .video__title {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .video__title {
    font-size: 28px;
  }

  .video-slider {
    padding-bottom: 90px;
  }
}

@media (max-width: 570px) {
  .video__title {
    width: 100%;
  }
}
