.picture-explore__container {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 865px;
}

.picture-explore {
  max-width: 1440px;
  width: 100%;
  display: flex;
  column-gap: 60px;
}

.picture-explore__description {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  cursor: default;
}

.picture-explore__title {
  font-size: 80px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Forum Regular";
  font-weight: 100;
  margin-top: 80px;
  border-bottom: 3px solid #710707;
  padding-bottom: 25px;
  cursor: default;
}

.picture-explore__text {
  color: #fff;
  font-size: 22px;
  font-family: "Roboto Light";
  line-height: 38.5px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.picture-explore__span {
  color: #caaa7d;
}

.picture-explore__image-container {
  position: absolute;
}

.picture-explore__slider {
  padding-top: 90px;
}

.picture-explore__slider-controller {
  background-image: url("../../public/icons/slider_controller.png");
  position: absolute;
  z-index: 10;
  cursor: ew-resize;
  width: 40px;
  height: 700px;
  background-position: 0 center;
  background-repeat: no-repeat;
}
