.contacts__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contacts {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-size: 80px;
  letter-spacing: 5px;
  color: #9d8665;
  text-transform: uppercase;
  font-family: 'Forum Regular';
  font-weight: 100;
  margin-top: 80px;
  border-bottom: 3px solid #710707;
  padding-bottom: 25px;
  cursor: default;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
}

.contacts__description-title {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.contacts__description-sub {
  font-family: 'Roboto Light';
  font-size: 22px;
}

.contacts__map {
  width: 960px;
  height: 620px;
  overflow: hidden;
  cursor: grab;
  margin-bottom: 80px;
  filter: brightness(80%) contrast(170%);
}

.mapboxgl-marker {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0s;
}

@media (max-width: 1460px) {

  .contacts {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .contacts__title {
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .contacts__map {
    width: 694px;
    height: 454px;
    margin-bottom: 60px;
  }

  .contacts__description-title {
    font-size: 24px;
  }

  .contacts__description-sub {
    font-size: 20px;
  }

  .contacts__content {
    justify-content: space-evenly;
  }
  
}
